.slideShow__container {
    margin-left: auto; margin-right: auto;
    margin-top: 15px;
    width: 1240px;
    height: 415px;
    background: var(--color-two);
    border-radius: 25px;
    margin-top:5px;
    margin-bottom: 10px;
    position: relative;
}

.slider__img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.9;
}

.chevronContainer{
  height: 79.2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  top: 165px;
  color: var(--color-two);
}

.chevronPrev {
    transform: rotate(90deg);
    scale: 1.8;
    opacity: 0.9;
  }

.chevronNext {
    transform: rotate(-90deg);
    scale: 1.8;
    opacity: 0.9;
}

.chevronPrev:hover, .chevronNext:hover  {
    scale: 2;
    opacity: 1;
    transition: ease-in-out, 0.25s;
    filter: contrast(200%);
    cursor: pointer;
  }


/* Mobiles */
@media screen and (max-width: 768px) {
  .slideShow__container {
      margin-left: auto; margin-right: auto;
      width: 94%;
      height: 350px;
  }
  .chevronContainer {
    position: absolute;
    top: 90px;
  }
}
  

/* Tablettes */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .slideShow__container {
    margin-left: auto; margin-right: auto;
    width: 90%;
    height: 255px;
  }
  .chevronContainer {
    position: absolute;
    top: 80px;
  }
}