/* Desktop */
.dropdown-wrapper {
    margin-left: auto; margin-right: auto;
    margin-top: 31px;
    width: 1023px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1023px;
}

.dropdown-wrapper p {
  font-size: 24px;
}


/* Mobiles */
@media screen and (max-width: 768px) {
    .dropdown-wrapper {
      margin-left: auto; margin-right: auto;
      width: 92%;
    }
    .dropdown-wrapper p {
      font-size: 12px;
    }
}

/* Tablettes */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .dropdown-wrapper {
    margin-left: auto; margin-right: auto;
    width: 90%;
  }
  .dropdown-wrapper p {
    font-size: 16px;
  }
}