.rating__icon {
    height: 30px;
    width: 30px;
}

/* Mobiles */
@media screen and (max-width: 768px) {
    .rating__icon {
        height: 15px;
        width: 15px;
    }
}


/* Tablettes */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .rating__icon {
        height: 25px;
        width: 25px;
    }
  }