.dashboard-container {
    width: 95%;
    margin-left: auto; margin-right: auto;
    height: 70vh;
    display: flex;
    justify-content: space-between;

}

.left-container {
    width: 15%;
    height: 100%;
    border: solid 3px;
    border-color: var(--color-two);
    border-radius: 10px;
    background-color: var(--color-one);
}

.left-container p {
    padding: 10% 6%;
    color: var(--color-two);
    font-size: 20px;
    font-weight: 500;
}

.right-container {
    width: 82%;
    margin-left: auto; margin-right: auto;
    height: 100%;
    border: solid 3px;
    border-color: var(--color-one);
    border-radius: 10px;
    background-color: rgb(230, 230, 238);
}

.right-container p {
    padding: 2%;
    color: black;
    font-size: 18px;
}