/* Desktop */
.gallery {
    width: 1240px;
    margin-left: auto; margin-right: auto;
    border-radius: 25px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    cursor: pointer;
}

.thumb__link {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 32px;
    text-decoration: none;
}
.thumb__link:hover {
    opacity: 0.9;
    transition: 250ms ease-in-out;
  }

.thumb__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.thumb__overlay {
    position: absolute;
    top: 0px; left: 0px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.thumb__title {
    width: 300px;
    height: 52px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-two);
    position: absolute;
    Bottom: 20px;
    Left: 20px;
    margin: auto;
}


/* Mobiles */
@media screen and (max-width: 768px) {
    .gallery {
      margin-left: auto; margin-right: auto;
      width: 92%;
    }
    .thumb__link {
        position: relative;
        width: 100%;
        height: 255px;
        margin-top: 20px;
        text-decoration: none;
    }
    .thumb__title {
        width: 70%;
        position: absolute;
        Bottom: 15px;
        Left: 19.71px;
    }
}

/* Tablettes */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .gallery {
      margin-left: auto; margin-right: auto;
      width: 90%;
    }
    .thumb__link {
        position: relative;
        width: 100%;
        height: 300px;
        margin-top: 20px;
        text-decoration: none;
    }
    .thumb__title {
        width: 70%;
        position: absolute;
        Bottom: 20px;
        Left: 25px;
    }
}