@keyframes brillance {
from {color : var(--color-one);
	text-shadow: 3px 3px 3px rgb(247, 244, 244);}
50% {color:#435477;
	text-shadow: 3px 3px 3px 247, 244, 244;}
to {color : #03163f;
	text-shadow: 3px 3px 3px 247, 244, 244;}
}


/* Desktop */
header {
    width: 100%;
    height: 7.5%;
    padding: 2% 4%;
    background-color: var(--color-two);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

.header__logo svg {
  color: var(--color-one);
}

.header__logo {
    width: 40%;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header__logo:hover {
  filter: contrast(150%);
  transition : 0.25s ease-in-out
}

.logoText {
  margin-left: 3%;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 26px;
  font-weight: 600;
  color: var(--color-one);
}

.header__link {
    text-decoration: none;
    color: var(--color-one);
    font-weight: 500;
    font-size: 18px;
    padding: 0% 1.5%;
}
.header__link-btn {
  text-decoration: none;
  color: var(--color-two);
  font-weight: 500;
  font-size: 18px;
  padding: 1% 2.5%;
  background-color: var(--color-one);
  border-radius: 10px;
}
.header__link:hover {
    animation: brillance .4s forwards;
    text-decoration: underline;
}
.header__link-btn:hover {
  color: rgb(212, 209, 214);
}



/* Mobiles */
@media screen and (max-width: 768px) {
  header {
    margin-top:20px;
    margin-left: auto; margin-right: auto;
    width: 94%;
    padding: 2%;
  }
  header nav {
    width: 70%;
  }
  .header__logo {
    width: 25%;
  }
  .logoText {
    font-size: 18px;
  }
  .header__link {
    font-size: 12px;
  }
}
