.dropdown-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6060;
    border-radius: 5px;
    width: 100%;
    height: 47px;
    cursor: pointer;
}
.dropdown-header:hover {
    opacity: 0.9;
    transition: 250ms ease-in-out;
  }

.dropdown-title {
    padding-left: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.chevron, .chevron-ouvert {
  height: 9px;
  width: 15px;
  margin-right: 1rem;
}

.chevron {
  transition: 400ms ease-in-out;
}

.chevron-ouvert {
  transition: 400ms ease-out;
  transform: rotate(-180deg);
}

.dropdown-text-close {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  margin-bottom: 31px;
}

.dropdown-text-open {
  overflow: hidden;
  transition: 200ms ease-out;
  padding: 8px;
  max-height: fit-content;
  opacity: 1;
  background-color: #f6f6f6;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #ff6060;
  margin-bottom: 31px;
}



