@keyframes brillance {
from {color : #FF6060;
	text-shadow: 3px 3px 3px rgb(247, 244, 244);}
50% {color:w#f58d8d;
	text-shadow: 3px 3px 3px 247, 244, 244;}
to {color : #e03333;
	text-shadow: 3px 3px 3px 247, 244, 244;}
}


/* Desktop */
header {
    width: 1240px;
    height: 68px;
    margin-left: auto; margin-right: auto;
    margin-top: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header nav {
    display: flex;
    justify-content: right;
    Width: 309px;
    Height: 34px;
  }

  .header__logo {
    width: 210.32px;
    height: 68px;
    left: 100px;
    top: 40px;
  }

  .header__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
}

.header__link:first-child {
  margin-right: 57px;
}

.header__link:hover {
  animation: brillance .4s forwards;
  text-decoration: underline;
}


/* Mobiles */
@media screen and (max-width: 850px) {
  header {
    margin-top:20px;
    margin-left: 20px;
    width: 96%;
  }
  .header__logo {
    width: 145px;
    height: 47px;
    padding-left: 20px;
  } 
  header nav {
    display: flex;
    justify-content: space-between;
    Width: 170px;
    padding-right: 20px;
  }
  .header__link {
    font-size: 16px;
  }
  .header__link:first-child {
    margin-right: 10px;
  }
}

