header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    height: 68px;
    margin-top: 40px
  }

header nav {
    display: flex;
    justify-content: right;
    Width: 309px;
    Height: 34px;
  }

  .header__logo {
    width: 145px;
    height: 47px;
    left: 100px;
    top: 40px;
  }

  .header__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
    margin-right: 20px;
}
  