@keyframes brillance {
from {color : var(--color-one);
	text-shadow: 3px 3px 3px rgb(247, 244, 244);}
50% {color:w#f58d8d;
	text-shadow: 3px 3px 3px 247, 244, 244;}
to {color : #e91919;
	text-shadow: 3px 3px 3px 247, 244, 244;}
}


/* Desktop */
header {
    width: 1240px;
    height: 68px;
    margin-left: auto; margin-right: auto;
    margin-top: 40px;
    background-color: var(--color-two);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header nav {
    display: flex;
    justify-content: right;
    width: 309px;
    height: 34px;
  }

.header__logo {
    width: 210.32px;
    height: 68px;
    left: 100px;
    top: 40px;
  }

.header__link {
    text-decoration: none;
    color: var(--color-one);
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
}

.header__link:first-child {
    margin-right: 57px;
}

.header__link:hover {
    animation: brillance .4s forwards;
    text-decoration: underline;
}

.header__logo:hover {
    scale: 1.05;
    filter: contrast(150%);
    transition : 0.25s ease-in-out
}


/* Mobiles */
@media screen and (max-width: 850px) {
  header {
    margin-top:20px;
    margin-left: 20px;
    width: 92%;
  }
  .header__logo {
    width: 145px;
    height: 47px;
  } 
  header nav {
    width: 170px;
  }
  .header__link {
    font-size: 16px;
  }
  .header__link:first-child {
    margin-right: 10px;
  }
}

