/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

/* LAYOUT & COLORS*/
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    --color-one: #1b3979;
    --color-two: #FFFFFF;
    --color-three : #f6f6f6;
}

html {
  margin-left: auto; margin-right: auto;
  height: 100%;
  width: 100%;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

/* Mobiles */
@media screen and (max-width: 768px) {
  body {
    width: auto;
    height: auto;
  }
}

/* Tablettes */
@media screen and (min-width: 769px) and (max-width: 992px) {
  body {
    max-width: auto;
    height: auto;
  }
}