/* MODAL */
.modal-container {
    width: 80vw;
    height: 100vh;
    margin-left: auto; margin-right: auto;
    background-color: rgb(223, 223, 221);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 10vw;
}

.modal-header, .modal-body {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-size: 26px;
    font-weight: 600;
}

.modal-footer {
    display: flex;
    gap : 5rem;
    padding: 2%;
    justify-content: center;
}


/* MY POSTS */
.myPosts-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 10%;
}

.myPosts-buttons, .modal-btn {
    text-decoration: none;
    color: var(--color-two);
    font-weight: 400;
    font-size: 14px;
    padding: 1% 2.5%;
    background-color: var(--color-one);
    border-radius: 5px;
}

.myPosts-buttons:hover, .modal-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

