/* Desktops */
.footer {
    margin-left: auto; margin-right: auto;
    margin-top: 60px;
    height: 209px;
    width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  
  .footer p {
    color: white;
    margin-top: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
  }

.logo {
    margin-top: 20px;
    width: 122px;
    height: 39.44px;
}

/* Mobiles */
@media screen and (max-width: 850px) {
  .footer {
      width: 100%;
    }
  .footer p {
    font-size: 12px;
    }
}