/* Desktops */
.footer {
    margin-left: auto; margin-right: auto;
    margin-top: 60px;
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #020b1f;
}

.footer-logo {
  display: flex;
  gap: 0.4rem;
  color: var(--color-two);
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

.footer-contact {
  color: var(--color-two);
  margin-top: 15px;
}

.footer-contact a{
  color: var(--color-two);
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.emailAdress {
  font-size: 18px;
  display: block;
}

.footer p {
    color: var(--color-two);
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;
}

.logo {
    margin-top: 20px;
    width: 122px;
    height: 39.44px;
}

/* Mobiles */
@media screen and (max-width: 768px) {
  .footer {
      width: 100%;
      margin-top: 60px;
    }
  .footer p {
    font-size: 10px;
    }
}