.bannerAbout {
    margin-left: auto; margin-right: auto;
    margin-top: 171px;
    Width: 1240px;
    Height: 223px;
    border-radius : 25px; 
    Opacity : 90%;
    background-image:  url(../../assets/img/banner-about.jpg);
    background-size: cover;
    color: var(--color-two);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Mobiles */
@media screen and (max-width: 768px) {
  .bannerAbout {
    margin-top:20px;
    margin-left: auto; margin-right: auto;
    width: 92%;
    }
}

/* Tablettes */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .bannerAbout {
    margin-top:20px;
    margin-left: auto; margin-right: auto;
    width: 94%;
    }
}
