.bannerHome__container {
    width: 1240px;
    height: 255px;
    margin-left: auto; margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.bannerHome__img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
}

.bannerHome__title {
    position: absolute;
    top: 78px; right: 262px;    
    font-weight: 500;
    font-size: 48px;
    line-height: 68.45px;
    color: var(--color-two);
}

.bannerHome__overlay {
    position: absolute;
    top: 0px; left: 0px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }


/* Mobiles */
@media screen and (max-width: 768px) {
    .bannerHome__container {
        margin-left: auto; margin-right: auto;
        width: 92%;
        height: 111px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 22px;
    }
    .bannerHome__img {
        width: 100%;
    }
    .bannerHome__title {
        position: absolute;
        width: 80%;
        top: 31px;
        left: 16px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }
}

/* Tablettes */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .bannerHome__container {
        width: 90%;
        height: 200px;
        margin-left: auto; margin-right: auto;
    }
    .bannerHome__img {
        width: 100%;
    }
    .bannerHome__title {
        position: absolute;
        width: 70%;
        top: 60px;
        left: 18%;
        font-weight: 500;
        font-size: 36px;
    }
  }